:root {
    --primary-color: #ffc400;
}

* {
    box-sizing: border-box;
    outline: 0;
}

body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: var(--primary-color);
    margin: 0;
    padding: 0;
    transition: background-color 0.5s ease;
}

.nav {
    background: #00ff80;
    height: 60px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-title {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: xx-large;

}

.container {
    max-width: 640px;
    margin: 50px auto;
    background: #fff;
    padding: 20px;
    border-radius: 15px;
}

.field-label {
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 5px;
}

.section-title {
    text-align: center;
    justify-content: center;
    font-size: 65px;
    margin-bottom: 25px;
    text-decoration: underline;
    text-decoration-color: var(--primary-color);
}

.text-form {
    font-size: 45px;
    margin-bottom: 20px;
    width: 85%;
    padding-top: 5px;
    background: #1eff8f;
    justify-self: center;
    text-align: center;
    border-radius: 10px;
}

.title-table {
    color: #1dcf68;
}

.danger {
    color: #ff4800;
}

.darkmode {
    width: 60px; 
    height: 26px; 
    display: flex;
    align-items: center;
    position: relative;
    background: #fff;
    border-radius: 30px;
    cursor: pointer;
    margin: 8px;
    transition: 0.6s;
    box-shadow: inset 0px 5px 15px rgba(0, 0, 0, 0.4);
}

.darkmode::after {
    content: '';
    width: 22px;
    height: 22px;
    background: linear-gradient(180deg, #c7c7c7, #6e6e6e);
    border-radius: 50%;
    position: absolute;
    top: 2px;
    left: 2px;
    z-index: 3; 
    transition: 0.6s;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
}

svg {
    width: 14px; 
    height: 14px;
    z-index: 2;  
    position: relative; 
    pointer-events: none; 
}

.darkmode svg {
    position: absolute;
    width: 14px; 
    height: 14px;
    top: 6px; 
    z-index: 4; 
    transition: 0.6s; 
    pointer-events: none;
}

.darkmode svg path {
    stroke: #555; 
    transition: 0.6s;
}

.darkmode-icon-sun {
    left: 6px; 
    opacity: 1;
}

.darkmode-icon-moon {
    left: 6px; 
    opacity: 0; 
}


input + .darkmode .darkmode-icon-sun {
    fill: #ff9900;
}

input:checked + .darkmode .darkmode-icon-moon {
    fill: #0044ff;
}

#darkmode-switch {
    display: none;
}

#darkmode-switch:checked + .darkmode::after {
    left: 36px; 
    background: linear-gradient(180deg, #777, #3a3a3a);
}

#darkmode-switch:checked + .darkmode .darkmode-icon-sun {
    left: 40px; 
    opacity: 0;
}

#darkmode-switch:checked + .darkmode .darkmode-icon-moon {
    left: 40px; 
    opacity: 1;
}

#darkmode-switch:checked + .darkmode svg path {
    stroke: #fff;
}

#darkmode-switch:checked + label {
    background: #242424;
}

input:checked + .darkmode::after {
    left: 30px;
    background: linear-gradient(180deg, #777, #3a3a3a);
}

label:active::after {
    width: 30px;
}

body.dark-mode .nav {
    background-color: #242424;
    color: #ffffff;
}

body.dark-mode {
    background-color: #004219;
    color: #ffffff;            
}

body.dark-mode .container {
    background-color: #121212; 
    color: #e4ffdf;            
}

body.dark-mode .container .text-form{
    background-color: #018117; 
    color: #e4ffdf;            
}

body.dark-mode .container .buttom-submit{
    background-color: #018117; 
    color: #e4ffdf;            
}

body.dark-mode .container .buttom-submit:hover{
    background-color: #01410b; 
    color: #e4ffdf;            
}

th {
    text-align: left;
    font-size: 24px;
}

table {
  border-collapse: separate;
  border-spacing: 50px 10px;   
}

form input, form label, form button {
    display: block;
    width: 100%;
    margin-bottom: 10px;
}

form input {
    height: 50px;
    font-size: 24px;
    padding: 0 10px;
}

form input:focus {
    border: 2px solid var(--primary-color);
}

form button {
    background-color: #00ff80;
    color: #000000;
    font-size: 24px;
    cursor: pointer;
    font-weight: 700;
    margin-top: 30px;
}

form button:hover {
    background-color: #00c251;
}

form button:active {
    background: var(--primary-color-darker);
}

.p-resultado {
    background: #1eff8f;
    padding: 10px 20px;
}

.bad {
    background: #ff0000;
    padding: 10px 20px;
}

.bad-text {
    color: #ff0000;
}

